<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @business_company.company_name %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @business_company.website_url %>
</p>

<p>
  <strong>Company email:</strong>
  <%= @business_company.company_email %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @business_company.contact_person %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @business_company.mobile %>
</p>

<p>
  <strong>City:</strong>
  <%= @business_company.city %>
</p>

<p>
  <strong>Services:</strong>
  <%= @business_company.services %>
</p>

<p>
  <strong>Pan:</strong>
  <%= @business_company.Pan %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @business_company.Bank_name %>
</p>

<p>
  <strong>Account no:</strong>
  <%= @business_company.Account_no %>
</p>

<p>
  <strong>Ifsc:</strong>
  <%= @business_company.IFSC %>
</p>

<p>
  <strong>Tin:</strong>
  <%= @business_company.TIN %>
</p>

<p>
  <strong>Tan:</strong>
  <%= @business_company.TAN %>
</p>

<p>
  <strong>Referal:</strong>
  <%= @business_company.referal %>
</p>

<%= link_to 'Edit', edit_business_company_path(@business_company) %> |
<%= link_to 'Back', business_companies_path %>
