<p id="notice"><%= notice %></p>

<h1>Listing Business Individuals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>City</th>
      <th>Pan</th>
      <th>Bank name</th>
      <th>Account no</th>
      <th>Ifsc</th>
      <th>Referal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_individuals.each do |business_individual| %>
      <tr>
        <td><%= business_individual.name %></td>
        <td><%= business_individual.mobile %></td>
        <td><%= business_individual.city %></td>
        <td><%= business_individual.Pan %></td>
        <td><%= business_individual.Bank_name %></td>
        <td><%= business_individual.Account_no %></td>
        <td><%= business_individual.IFSC %></td>
        <td><%= business_individual.referal %></td>
        <td><%= link_to 'Show', business_individual %></td>
        <td><%= link_to 'Edit', edit_business_individual_path(business_individual) %></td>
        <td><%= link_to 'Destroy', business_individual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business individual', new_business_individual_path %>
