<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business_individual.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @business_individual.mobile %>
</p>

<p>
  <strong>City:</strong>
  <%= @business_individual.city %>
</p>

<p>
  <strong>Pan:</strong>
  <%= @business_individual.Pan %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @business_individual.Bank_name %>
</p>

<p>
  <strong>Account no:</strong>
  <%= @business_individual.Account_no %>
</p>

<p>
  <strong>Ifsc:</strong>
  <%= @business_individual.IFSC %>
</p>

<p>
  <strong>Referal:</strong>
  <%= @business_individual.referal %>
</p>

<%= link_to 'Edit', edit_business_individual_path(@business_individual) %> |
<%= link_to 'Back', business_individuals_path %>
