

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @store.mobile %>
</p>

<p>
  <strong>Users:</strong>
  <%= @store.users.count %>
  
 
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
