<h2></h2>
<div class="container">
<div class="row">
          
              <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10" id="bdr">
              <h2 align="center" style="margin:0;">Store Sign In</h2>
              
              <br><br>




<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    
    <%= f.email_field :email, autofocus: true ,class: "form-control",placeholder: "Enter your email" %>
  </div>

  <div class="form-group">
    
    <%= f.password_field :password, autocomplete: "off",class: "form-control",placeholder: "Enter your password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div id="le">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <%= link_to "Forgot your password?", new_store_password_path,id: "fl" %>
  <div class="actions">
    <%= f.submit "Log in",class: "btn btn-info btn-block",id: "b_signup" %>
  </div>
<% end %>

<p align="center" style=" margin:12px 0px 12px 0px;">Or</p>
   <button class="btn btn-primary btn-block fa fa-facebook" id="f_btn" > <span >Sign In with Facebook </span></button>
   <button class="btn btn-primary btn-block fa fa-google-plus" id="g_btn" > <span >Sign In with Google</span></button>       
        

             
              
              </div>

              </div>
        </div>
     

        






<%= render "users/shared/links" %>
