

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Stores:</strong>
  <%= @user.stores.count %> 
</p>

<p>
  <strong>Bookings status:</strong>
  <% @user.bookings.each do |book|%>
    <%= book.status %>
  <% end %> 
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
