
<div class="container">
<div class="row">
<div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8"><br><br>
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    
    <%= f.email_field :email, autofocus: true ,class: "form-control input-lg",placeholder: "Enter Email "%>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" ,class: "btn btn-info btn-lg btn-block b_signup"%>
  </div>
<% end %>
<p style="margin-top:10px;"> Not a Registered Store? <%= link_to " Sign Up ", new_store_registration_path %></p>
</div>
</div>
</div>



    
      




<%= render "users/shared/links" %>
