<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color:#e9e9e9;font-family:'Raleway,sans-serif;">
    <h1>Hello, <%= @store.name %>!</h1>
    <p><%= "#{@user.name },just created a new lead #{time_ago_in_words(@booking.created_at)} ago for stores like you to respond to!  "%></p>

    <div style="margin:2% 20% 2% 20%;background-color:#fff;">
  
   <br>

   <center><h1> New Lead For You</h1></center>
   <center><img src="logo.png" style="margin:0.5% 0% 0% 0%;"></center>
   
   <div style="border:1px solid #000;margin:5% 15% 5% 15%;padding:0% 5% 0% 5%;">
   <center>
     <h2 style="margin:5% 0% 5% 0%">Lead Details</h2> 
   
   <h3><u>User Name</u></h3>
   <p><%= @user.name %><p>
   <hr>
   <br>
   <h3><u>Store Category</u></h3>
   <p><%= @booking.store_category.category %></p>
   <hr>
   <br>
   <h3><u>Material list</u></h3>
   <p><%= booking.</p>
   <hr>
   <br>
   <h3><u>Date and Time</u></h3>
   <p>26-06-2016 at 1:00 pm</p>
   <hr>
   <br>
   <h3><u>Location</u></h3>
   <p>plot no. ##, Chand Nagar,N.D-110018</p>
   <hr>

   
   </center>
   <button type="button" style="padding:15px 70px 15px 70px;background-color:#3b5998;color:#fff;border:none;margin:5% 2% 5% 8%;">Reject</button>
   <button type="button" style="padding:15px 70px 15px 70px;background-color:#3b5998;color:#fff;border:none;margin:5% 5% 5% 8%;">
   Submit</button>
   <input type="text" class="form-control" style="width:95%;height:100%;padding:10% 1% 10% 1%;margin-bottom:5%;"></input>
    <center><h2>What Next?</h2></center>
   <ul style="font-size:130%;">
      <li>submit the request</li>
      <li>submit the request</li>
      <li>submit the request</li>
      <li>submit the request</li>
   </ul>
   </div>
   </br>


<p><span style="float:left;margin-left:2%;">help@unclejoy.in</span></p>
<p><span style="float:right;margin-right:2%"> +91- 8826549353</span></p>
<br>
<br>
   </div>
  <center><p>CB 153|9, 1st Floor, Naraina, Ring Road, New Delhi - 28</p><center>


  </body>
</html>